<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.ng1.Facebook"/>
      <class name="com.ng1.Hrm"/>
      <class name="com.ng1.Guru"/>
      <class name="com.ng1.Gmail"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
